<div class="header container"><h1><a href="/">News Aggregator App</a></h1></div>
<div class="container home">
  <h2>Choose News Service from the list</h2>
  <hr/>
  <div class="body">
    <h3><a href="/news/list/svpressa">Svpressa</a></h3>
    <h3><a href="/news/list/newsru">Newsru</a></h3>
  </div>
</div>
